:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: white;
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #c11554;
  text-decoration: inherit;
}
a:hover {
  color: #c11554;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  & > .app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  font-size: 0.875rem;
  color: #666666;
}

hr {
  border: none;
  border-top: 1px solid #e0e0e0;
  margin: 1rem 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* padding: 1rem; */
  box-sizing: border-box;
  text-align: left;
  width: min(95vw, 60rem);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.subtitle {
  color: #666666;
  font-style: italic;
  margin-bottom: 1rem;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

h1 {
  color: #c11554;
  line-height: 1;
  font-size: 2.25rem;
  margin: 1.25rem 0;
}

h2 {
  font-size: 1.75rem;
  margin: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
}

h4 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

/* Dashboard */

.db-name {
  font-size: 1.25rem;
}

.logo-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 999;
}

/* Profile */
select, option {
  background-color: lightgray;
  color: inherit;
  border-radius: 0.25rem;
  font-family: inherit;
  border: none;
  font-size: inherit;
}

.info-list {
  display: flex;
  flex-direction: column;
  & > .info-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    align-items: center;
    & input {
      /* background-color: inherit; */
      background-color: lightgray;
      color: inherit;
      border-radius: 0.25rem;
      /* border: 1px solid gray; */
      border: none;
      font-size: 15px;
      font-family: inherit;
      width: 40px;
    }
    & > span {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }
  }
}